---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import Prose from "~/components/Prose.astro";
import TableOfContents from "~/components/TableOfContents.astro";
import PageLayout from "~/layouts/PageLayout.astro";

export const getStaticPaths = (async () => {
  const blogPosts = await getCollection("blog", ({ data }) => {
    return data.isDraft !== true;
  });

  return blogPosts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}) satisfies GetStaticPaths;

const { post } = Astro.props;
const { Content, headings } = await post.render();

function formatDate(date: Date) {
  return date.toLocaleDateString("en-us", {
    day: "numeric",
    month: "long",
    year: "numeric",
  });
}

function showLastUpdateDate(publishDate: Date, updateDate?: Date) {
  return updateDate
    ? `${formatDate(updateDate)}`
    : `${formatDate(publishDate)}`;
}
---

<PageLayout>
  <article id="toc-article">
    <h1
      class="text-5xl mt-8 leading-snug font-extrabold max-w-prose mx-auto text-center mb-8"
    >
      {post.data.title}
    </h1>
    <div class="mb-12">
      <p class="text-lg text-center my-3">
        Last updated on: <span
          class="underline decoration-secondary-400 underline-offset-4"
          >{
            showLastUpdateDate(post.data.publishDate, post.data.updateDate)
          }</span
        >
      </p>
      <div class="my-4 text-center mx-auto">
        {
          post.data.tags.map((tag) => (
            <a
              href="#"
              class="capitalize bg-primary-300 text-copy-950 px-3 py-1 rounded mx-3"
            >
              {tag}
            </a>
          ))
        }
      </div>
    </div>
    <div class="lg:float-left max-w-96 lg:sticky top-24">
      <TableOfContents headings={headings} />
    </div>
    <div class="lg:ml-96 lg:pl-6 max-w-prose mx-auto">
      <p class="text-lg bg-background-600 p-3 rounded-lg my-6">
        {post.data.excerpt}
      </p>
      <Prose>
        <Content />
      </Prose>

      <div class="my-12" id="comment-section">
        <script
          is:inline
          src="https://utteranc.es/client.js"
          repo="nirjan-dev/site-comments"
          issue-term="pathname"
          theme="github-dark"
          crossorigin="anonymous"
          async></script>
      </div>
    </div>
  </article>
</PageLayout>
