---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import logo from "~/assets/img/logo.svg";

const meunuItems = [
  {
    name: "Home",
    url: "/",
  },
  {
    name: "Blog",
    url: "/blog",
  },
  {
    name: "About",
    url: "/about",
  },
  {
    name: "Contact",
    url: "/contact",
  },
];
---

<div class="py-4 md:hidden flex justify-center">
  <a href="/">
    <Image loading="eager" height={30} src={logo} alt="Nirjan logo" />
  </a>
</div>

<div class="headroom-selector">
  <div class="container justify-between mx-auto py-6 px-4 hidden md:flex">
    <a href="/" class="hidden md:inline-block">
      <Image loading="eager" height={30} src={logo} alt="Nirjan logo" />
    </a>
    <nav>
      <ul class="flex gap-8 md:gap-10">
        {
          meunuItems.map((item) => (
            <li>
              <a class="text-primary-300 font-bold md:text-lg" href={item.url}>
                {item.name}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>

  <div popover id="menu-popover" class="md:hidden">
    <nav>
      <ul class="flex flex-col gap-8 md:gap-10">
        {
          meunuItems.map((item) => (
            <li>
              <a class="text-primary-300 font-bold md:text-lg" href={item.url}>
                {item.name}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>

  <div class="flex justify-end mb-16 mr-10 md:hidden">
    <button
      popovertarget="menu-popover"
      class="bg-primary-800 rounded-full p-3 shadow-lg shadow-primary-800/50"
    >
      <span class="sr-only">Menu</span>
      <Icon name="mdi:dots-horizontal" class="open-menu-icon w-6 h-6" />
      <Icon name="mdi:close" class="close-menu-icon w-6 h-6" />
    </button>
  </div>
</div>

<script>
  import Headroom from "headroom.js";

  const headroomElement = document.querySelector(".headroom-selector");

  if (headroomElement) {
    const headroom = new Headroom(headroomElement);
    headroom.init();
  }
</script>

<style>
  .headroom-selector {
    @apply md:bg-background-950 will-change-transform transition-transform shadow-lg fixed md:top-0 md:bottom-auto bottom-0 z-50 left-0 w-full;
  }
  .headroom--pinned {
    @apply translate-y-0;
  }
  .headroom--unpinned {
    @apply translate-y-full md:-translate-y-full;
  }

  [popover] ~ div [popovertarget="menu-popover"] {
    .open-menu-icon {
      @apply inline-block;
    }

    .close-menu-icon {
      @apply hidden;
    }
  }

  [popover]:popover-open ~ div [popovertarget="menu-popover"] {
    .open-menu-icon {
      @apply hidden;
    }

    .close-menu-icon {
      @apply inline-block;
    }
  }

  [popover] {
    @apply px-6 py-6 min-w-[50%] min-h-[50%] to-background-500 bg-background-900 rounded-3xl shadow-xl shadow-background-600/20 inset-[unset] right-4 bottom-32;
  }

  [popover]:popover-open {
    @apply flex items-center justify-center;
  }

  /* animating the popover */

  [popover]:popover-open {
    animation: flip-in-hor-bottom 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
  }
</style>
